<div class="container">
  <h2>All Recipes</h2>

  @if (recipes$().length === 0) {
    <p>Loading recipes...</p>
  }

  @for (item of recipes$(); track item.id) {
    <div class="bg-neutral-primary-soft block max-w-sm p-6 border border-default rounded-base shadow-xs">
      <h3 class = "text-xl font-bold text-white-900 mb-2">{{ item.name }}</h3>

      <button (click)="toggleDetail(item.id)">
        {{ selectedRecipeId() === item.id ? 'Hide Instructions' : 'View Instructions' }}
      </button>

      @if (selectedRecipeId() === item.id) {
        <div style="margin-top: 10px; padding: 10px; border-radius: 4px;">
          <h4>Ingredients:</h4>
          <ul>
            @for (ingredient of item.ingredients; track $index) {
              <li>{{ ingredient }}</li>
            }
          </ul>

          <h4>Instructions:</h4>
          <ol>
            @for (step of item.instructions; track $index) {
              <li>{{ step }}</li>
            }
          </ol>
        </div>
      }
    </div>
  }
  
<div class="max-w-sm bg-white border border-gray-200 rounded-xl shadow-md overflow-hidden p-6">
  <h2 class="text-xl font-bold text-gray-900 mb-2">Card Title</h2>
  <p class="text-gray-600">This is a flexible content container built with utility classes.</p>
</div>



</div>